# Django Settings
DEBUG=True
SECRET_KEY="ul6faicz01%my9$r-weve^ktc+)8ndn"
ALLOWED_HOSTS=localhost,127.0.0.1

# Database (optional, defaults to SQLite)
DATABASE_URL=sqlite:///db.sqlite3

# CORS Origins
CORS_ALLOWED_ORIGINS="https://697bb70d4e69b88edd8ca36c--hrmslite4.netlify.app","https://hrmslite4.netlify.app/"

# Frontend URL
REACT_APP_API_URL=https://website-2u84.onrender.com/api/
